@font-face {
  font-family: gobold;
  src: url(gobold.ttf);
}

#cursor {

  position: absolute;
  border: solid 1px #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  pointer-events: none !important;
  animation: fade-in-out 3s ease-in-out infinite;

}

body {
  font: 13px "Hind", Arial, Helvetica, sans-serif;
  background-color: #000;
  color: #fff;
  text-align: center;
}

body#projects {

  background-color: #FF595E;

}

header {

  position: fixed;
  height: 40px;
  margin: 20px;
  text-align: left;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 0;
  z-index: 99;

}

header #back_button {

  width: 150px;
  height: 30px;
  pointer-events:auto;

}

header #back {

  margin-right: 0px;
  height: 30px;
  padding: 0;
  transition: 0.1s ease-in-out;
  transform: translateX(0px);
  cursor: pointer;

}

header #back_head {

  margin-left: -22px;
  height: 28px;
  padding: 0;
  transform: translateY(-1px) translateX(0px);
  transition: 0.1s ease-in-out;

}

header #back_button:hover #back {

  transform: translateX(50px);

}

header #back_button:hover #back_head {

  transform: translateX(-70px);

}

footer {

  position: fixed;
  height: 40px;
  margin: 20px;
  text-align: left;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 0;
  z-index: 99;

}

footer .logo {

  height: 40px;
  margin: 0px;
  opacity: 0.4;
  transition: 0.1s ease-in-out;

}

footer .logo:hover {

  opacity: 1;
  cursor: pointer;

}

::selection {
    background-color: #FF595E;
    color: #fff;
}

#projects_teaser {

  height: 100vh;
  width: 50px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  cursor: pointer;

}

#projects_teaser_bar {

  height: 100vh;
  width: 50px;
  position: fixed;
  right: -25px;
  top: 0;
  background-color: #FF595E;
  z-index: -1;
  transition: 0.2s ease;

}

#projects_teaser_bar h2 {

  transform: rotate(-90deg);
  position: fixed;
  right: -1em;
  bottom: 3em;
  transition: 0.1s ease;

}

#projects_teaser:hover #projects_teaser_bar {

  right: 0px;

}

#projects_teaser:hover #projects_teaser_bar h2 {

  right: -2.2em;

}

#circle {

  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: -1;

}

#main_title {

  font-size: 6em;
  text-align: left;
  width: 7em;
  margin-left: -3.5em;
  padding-left: 50vw;
  padding-top: 30vh;
  margin-top: 40px;

}

#projects #main_title {

  font-size: 15vw;
  position: fixed;
  margin: 0px;
  margin-left: 2.5vw;
  padding: 0;
  pointer-events: none;
  line-height: 20vw;
  margin-top: 14vh;
  font-family: "gobold";
  animation: fade-in-from-right 0.4s;
  z-index: -1;
  color: #FF595E;
  -webkit-text-stroke: 5px white;

}

#projects #main_title #titleline2 {

  color: white;
  -webkit-text-stroke: 0px;

}

#project_list {

  padding-top: 100vh;
  padding-bottom: 90vh;
  margin-top: 0px;
  margin-right: 3vw;
  margin-left: 3vw;

}

#project_list .row {

  padding: 0px;
  padding-top: 2vw;

}

#project_list .six {

  background-color: #FFB400;
  height: 90vh;

}

#project_list .six.small {

  background-color: #3300D5;
  height: 40vh;

}

#project_list .nine-point-five {

  background-color: #98C1D9;
  width: 56.5vw !important;
  height: 90vh;

}

#project_list .sixteen {

  background-color: #F2D398;
  height: 30vh;

}

#project_list .eight {

  background-color: #FFB400;
  height: 80vh;

}

#project_list .pushup {

  margin-top: -50vh;

}

/* ANIMATIONS */

@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-in-from-right {
  0%   { opacity: 0; transform: translateX(20px); }
  100% { opacity: 1; transform: initial; }
}

@keyframes fade-in-out {
  0%   { opacity: 0.2; }
  50% { opacity: 1; }
  100% { opacity: 0.2; }
}
